body{
  font-family: "Roboto Mono", monospace;
  word-spacing: -3px;
}

ul{
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  padding: 0 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

.header {
  padding: 20px 0;
  text-align: center;
  display: grid;
  grid-template-columns: 40% auto;
}

.logo {
  margin-bottom: 30px;
}

.logo__title {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 2px;
  margin: 0;
  text-align: left;
}

.description{
  margin:4rem 0 3rem 0;
  text-align: center;
}

.sub_header__desc {
  font-family: "Roboto Mono", monospace;
  margin: 10px 0 0 0;
  color: rgba(0, 0, 0, 0.5);
}

.sub_header__desc span{
  border-bottom: solid 4px #fbf9bd;
}

.add-snap {
  margin-bottom: 20px;
}

.add-snap__input {
  width: 100%;
  min-height: 70px;
  padding: 0 20px;
  box-sizing: border-box;
  outline: none;
  border: 2px solid #000;
  font-size: 18px;
  font-family: "Roboto Mono", monospace;
}

.snaps{
  margin-top:20px
}

.snaps li{
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
  grid-template-rows: auto auto;
  grid-template-columns: 70% auto;
  grid-column-gap: 1rem;
  -ms-flex-align: center;
  align-items: center;
  display: grid;
  background: #f9fbfb;
  margin-bottom:3px;
  -webkit-animation: enter 400ms cubic-bezier(0.5, 0, 0.2, 1) backwards;
  animation: enter 400ms cubic-bezier(0.5, 0, 0.2, 1) backwards;
}

.snaps li.optimistic{
  opacity: .6;
  animation: none;
  -webkit-animation: none;
  transition: none;
}

li:nth-child(1) {
  -webkit-animation-delay: calc(1 * 100ms);
  animation-delay: calc(1 * 100ms);
}
li:nth-child(2) {
  -webkit-animation-delay: calc(2 * 100ms);
  animation-delay: calc(2 * 100ms);
}
li:nth-child(3) {
  -webkit-animation-delay: calc(3 * 100ms);
  animation-delay: calc(3 * 100ms);
}
li:nth-child(4) {
  -webkit-animation-delay: calc(4 * 100ms);
  animation-delay: calc(4 * 100ms);
}
li:nth-child(5) {
  -webkit-animation-delay: calc(5 * 100ms);
  animation-delay: calc(5 * 100ms);
}

.snaps li > .title{
  font-size: 14px;
  margin: 0!important;
  padding: .6rem;
  grid-row: 2/3;
  color: #796e6e
}

.snaps li > .date{
  padding: .6rem;
  grid-row: 1/-1;
  text-align: right;
  color: #757575;
}

.snaps li .date span {
  font-size: 12px;
}

.snaps li .username {
  font-size: 12px;
  font-weight: bold;
}

.loading{
  text-align: center;
  padding: 1rem
}

.counter {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  margin-top:14px
}

.header_menu{
  text-align: right;
}

.header_menu > a, .header_menu > div{
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  color:#000;
  text-decoration: none;
  padding: 8px;
}

.header_menu .active{
  background: #fbf9bd;
  user-select: none;
}

.user-form *{
  font-family: "Roboto Mono", monospace;
}

.user-form{
  text-align: center;
}

.user-form label{
  display: block;
}
.user-form input{
  height:25px;
  width:300px;
  text-indent: 10px;
  font-size: 14px;
  margin-bottom:10px;
}

.joinedUs{
  padding: 0.7rem 0 0 0;
  text-align: center;
}

@-webkit-keyframes enter {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}

@keyframes enter {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}